* {
    box-sizing: border-box;
}

section {
    padding: 0 15%;
}

/* intro.md */

img#intro-image {
    width: 50%;
    height: 30%;
    object-fit: contain;
    padding: 10px;
}

section#intro {
    padding-top: 100px;
    color: #ddd;
    background-color: #333;
}

section#intro h1,
section#intro h3
{
    display: inline;
}

/* projects.md */

section#projects {
    background-color: #aaa;
}

/* responsive css */

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}