.project-list {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: 400px 400px;

  justify-content: center;

  @media screen and (max-width: 900px) {
    grid-template-columns: 400px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 400px;
  }
}