.markdown-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    width: 95%;
    max-width: 95%;
  }
}

.project-markdown {
  br {
    border: 2px solid white;
    margin: 20px auto;
    width: 90%;
  }
}

.contents {
  .top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    a {
      border-radius: 1rem;
      border: 2px solid white;
      padding: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      text-decoration: none;
      align-items: center;
      color: white;

      &:hover, &:focus {
        border-color: cyan;
        color: cyan;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .top-links {
      flex-direction: column;
    }
  }
}

.project-header {
  position: relative;
  object-fit: cover;

  img {
    height: 100vh;
    min-height: 300px;
    max-height: 600px;
    width: 100vw;
  }
  .header-content {
    box-shadow: 0 0 10px black;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 20px solid black;
    background-color: hsla(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 10px black;
    text-decoration: underline;
  }
}